.h1 {
  font-size: 40px;
}
.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
  padding: 0;
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 5%; /* Some padding */
}

.giticon {
  position: absolute;
  width: 24px;
  height: 24px;
  background: rgba(122, 122, 122, 0.5);
}

.icona {
  right: 24px;
  top: 0px;
  position: absolute;
  white-space: nowrap;
  color: white;
  background: rgba(122, 122, 122, 0.5);
}

.icona23 {
  color: black;
  background: rgba(122, 122, 122, 0.5);
}

.card {
  display: flex;
  margin: 0;
  justify-content: space-around;
}
